<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Решение систем дифференциальных уравнений методом Рунге — Кутты
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <h1>Решение систем дифференциальных уравнений методом Рунге — Кутты</h1>
      <span>Лабораторная работа N1, Вариант 5, 2^5 = 32 вершины в графе</span>
    </header>
    <div class="container">
      <button
        class="button"
        onclick="generatePlot(2, 2, 2, 2, 2, 0, 0, 0, 0, 0)"
      >
        λ = 2, n = 0
      </button>
      <button
        class="button"
        onclick="generatePlot(0.1, 0.1, 0.1, 0.1, 0.1, 10, 10, 10, 10, 10)"
      >
        λ = 0.1, n = 10
      </button>
      <button
        class="button"
        onclick="generatePlot(3, 3, 3, 3, 3, 2, 2, 2, 2, 2)"
      >
        λ = 3, n = 2
      </button>
      <button
        class="button"
        onclick="generatePlot(3, 3, 3, 3, 3, 4, 4, 4, 4, 4)"
      >
        λ = 3, n = 4
      </button>
      <button class="button" id="openModal">Ввести данные вручную</button>
      <button class="button" onclick="downloadFile()">
        Получить систему уравнений
      </button>
      <div class="image-container">
        <img
          src="data:image/png;base64,{{ plot_img }}"
          alt="График"
          id="plot-image"
        />
      </div>
    </div>
    <footer>
      &copy; 2024 Sychev Viktor М3-ИФСТ-11 | Email: vitya14022001@mail.ru
    </footer>
    <div id="myModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <div class="modal-input-col">
            <div class="modal-input-row">
              <input class="modal-input" placeholder="λ1" id="λ1">
              <input class="modal-input" placeholder="λ2" id="λ2">
              <input class="modal-input" placeholder="λ3" id="λ3">
              <input class="modal-input" placeholder="λ4" id="λ4">
              <input class="modal-input" placeholder="λ5" id="λ5">
            </div>
            <div class="modal-input-row">
              <input class="modal-input" placeholder="n1" id="n1">
              <input class="modal-input" placeholder="n2" id="n2">
              <input class="modal-input" placeholder="n3" id="n3">
              <input class="modal-input" placeholder="n4" id="n4">
              <input class="modal-input" placeholder="n5" id="n5">
            </div>
            <span id="error-message" class="error-message"></span>
            <button onclick="validateForm()" class="button" id="generateButton">Сгенерировать график</button>
      </div>
    </div>
  </body>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</html>
